{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block content %}
    <h1>Tervetuloa seuraamaan tulojasi ja menojasi!</h1>

    {% if message %}
        <div class="right_box">
          <p><b>{{ message }}</b></p>
          <a href="/logout" class="custom-button">Kirjaudu ulos</a>
        </div>
        <div class="main_box">
          <h2>Yhteenveto</h2>
          <p class="decimal-format">Tulot yhteensä: <span id="total-income">{{ total_income }}</span> €</p>
          <p class="decimal-format">Menot yhteensä: <span id="total-expenses">{{ total_expenses }}</span> €</p>
          <p class="decimal-format">{% if savings_debt >= 0 %}Säästöt{% else %}Vaje{% endif %}: <span id="savings-debt">{{ savings_debt }}</span> €</p>
        </div>

        <script>
            function formatDecimal(value) {
                return value.toFixed(2);
            }

            document.getElementById("total-income").innerText = formatDecimal(parseFloat(document.getElementById("total-income").innerText));
            document.getElementById("total-expenses").innerText = formatDecimal(parseFloat(document.getElementById("total-expenses").innerText));
            document.getElementById("savings-debt").innerText = formatDecimal(parseFloat(document.getElementById("savings-debt").innerText));
        </script>
    {% else %}
        <p>Kirjaudu sisään <a href="/login">tästä</a> jatkaaksesi</p>
    {% endif %}
{% endblock %}


